<%= form_for(@piadinerium) do |f| %>
  <% if @piadinerium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@piadinerium.errors.count, "error") %> prohibited this piadinerium from being saved:</h2>

      <ul>
      <% @piadinerium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Ragione sociale <br />
    <%= f.text_field :ragioneSociale %>
  </div>
  <div class="field">
    Indirizzo <br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    Comune <br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    Provincia <br />
    <%= f.text_field :province %>
  </div>
  <div class="field">
    Regione <br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    Latitudine <br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    Longitudine <br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
