<h1>Listing piadineria</h1>

<table>
  <tr>
  	<th>ID</th>
    <th>Nome</th>
    <th>Ingredienti</th>
    <th>Link</th>
    <th>Prezzo</th>
    <th>Descrizione</th>    
  </tr>
   

<% @listinoPiadine.each do |piadina| %>
  <tr>
  	<td><%= piadina.id %></td>
    <td><%= piadina.nome %></td>
    <td><%= piadina.ingredienti %></td>
    <td><%= piadina.link %></td>
    <td><%= piadina.prezzo %></td>  
    <td><%= piadina.descrizione %></td>
  </tr>
<% end %>
</table>
