<h1>Listing piadineria</h1>

<table>
  <tr>
    <th>Ragionesociale</th>
    <th>Indirizzo</th>
    <th>Comune</th>
    <th>Provincia</th>
    <th>Regione</th>
    <th>Latitudine</th>
    <th>Longitudine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @piadineria.each do |piadinerium| %>
  <tr>
    <td><%= piadinerium.ragioneSociale %></td>
    <td><%= piadinerium.indirizzo %></td>
    <td><%= piadinerium.comune %></td>
    <td><%= piadinerium.provincia %></td>
    <td><%= piadinerium.regione %></td>
    <td><%= piadinerium.latitudine %></td>
    <td><%= piadinerium.longitudine %></td>
    <td><%= link_to 'Show', piadinerium %></td>
    <td><%= link_to 'Edit', edit_piadinerium_path(piadinerium) %></td>
    <td><%= link_to 'Destroy', piadinerium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Piadinerium', new_piadinerium_path %>
