<p id="notice"><%= notice %></p>

<p>
  <b>Ragionesociale:</b>
  <%= @piadinerium.ragioneSociale %>
</p>

<p>
  <b>Indirizzo:</b>
  <%= @piadinerium.indirizzo %>
</p>

<p>
  <b>Comune:</b>
  <%= @piadinerium.comune %>
</p>

<p>
  <b>Provincia:</b>
  <%= @piadinerium.provincia %>
</p>

<p>
  <b>Regione:</b>
  <%= @piadinerium.regione %>
</p>

<p>
  <b>Latitudine:</b>
  <%= @piadinerium.latitudine %>
</p>

<p>
  <b>Longitudine:</b>
  <%= @piadinerium.longitudine %>
</p>


<%= link_to 'Edit', edit_piadinerium_path(@piadinerium) %> |
<%= link_to 'Back', piadineria_path %>
